                    <md-step label="Enter Url" md-complete="vm.stepData[0].completed" ng-disabled="vm.stepProgress < 1">
                        <md-step-body>
                            <div layout="column">
                                <div layout="row" layout-padding layout-align="center start" layout-wrap>
                                    <div flex="90" flex-sm="90" flex-xs="100">
                                        <span class="md-title">
                                            Paste any non-profit url
                                        </span>
                                        <form name="step1" ng-submit="vm.getUrlInfo(vm.stepData[0].data.product_url)">
                                            <div layout="row" layout-xs="column" flex>
                                                <md-input-container flex class="md-block">
                                                    <input name="product_url" ng-model="vm.stepData[0].data.product_url" ng-disabled="vm.showBusyText" md-select-on-focus ng-pattern="vm.urlPattern" ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 300 } }" required aria-label="Enter Url"/>
                                                    <div class="hint" ng-show="vm.showProductUrlHint">{{vm.productUrlHint}}</div>
                                                    <div ng-messages="step1.product_url.$error" role="alert">
                                                        <div ng-message-exp="['required','pattern']">
                                                            That doesn't look like a valid url... are you sure you pasted the right thing?
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <div>
                                                    <md-button type="submit" class="md-raised" ng-disabled="!vm.stepData[0].data.product_url || loading_embedly || vm.showBusyText" aria-label="Get URL Info"  ng-click="vm.getUrlInfo(vm.stepData[0].data.product_url)">
                                                        <md-icon class="material-icons">search</md-icon>
                                                        Find Cause
                                                    </md-button>
                                                </div>
                                            </div>
                                        </form>
                                        <md-progress-linear md-mode="indeterminate" ng-show="loading_embedly"></md-progress-linear>
                                    </div>
                                    <div flex="90" flex-sm="90" flex-xs="100">
                                        <div ng-show="showPreview">
                                            <embedly urlsearch="{{vm.urlSearch}}" onempty="tryAgain()"></embedly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section data-ng-include=" 'app/modules/create/steps/actions/url.html' " ></section>
                          </md-step-body>
                    </md-step>
