.create .hint {
  /* Position the hint */
  padding-top: 34px;
  font-size: 12px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

embedly {
  transition: none; }
  embedly.ng-hide, embedly.ng-enter, embedly.ng-leave.ng-leave-active {
    transition: none;
    opacity: 0; }
  embedly.ng-leave, embedly.ng-enter.ng-enter-active {
    transition: opacity 0.1s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1; }
