.create .hint {
  /* Position the hint */
  padding-top: 34px;
  font-size: 12px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

/*
     ************************
     If filepicker generates 3 distinct components in DOM,
     cancel out the fake ones
     ************************
    
    .filestack-container {
        div:nth-child(2), div:nth-child(4) {
            display:none;
        }

    }
     */
embedly {
  transition: none; }
  embedly.ng-hide, embedly.ng-enter, embedly.ng-leave.ng-leave-active {
    transition: none;
    opacity: 0; }
  embedly.ng-leave, embedly.ng-enter.ng-enter-active {
    transition: opacity 0.1s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1; }
  embedly .embedly-variation-images {
    cursor: pointer; }
  embedly md-card-title {
    font-size: 24px;
    line-height: 32px; }
