<div layout="row" layout-margin layout="column" data-ng-controller="CreateCtrl" ng-cloak>
    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Create a custom campaign</span>
                    <span class="md-subhead">Creating a custom GiftStarter campaign has never been so easy. Simply copy/paste any product link into the input below.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div>
                    <form name="productForm">
                        <md-input-container>
                            <label>Enter <em>any</em> product URL:</label>
                            <input name="product_url" ng-model="input_product_url" required ng-pattern="/^.+@.+\..+$/"></input>

                            <!--<div class="hint" ng-show="showHints">example: https://www.organicbeardsupply.com/products/organic-beard-oil-spice-scent-1oz-dropper</div>-->
                            <!--<div ng-messages="productForm.product_url.$error" ng-show="!showHints">-->
                            <!--    <div ng-message-exp="['required', 'pattern']">-->
                            <!--        That doesn't look like an product url... Are ou sure you entered the right thing?-->
                            <!--    </div>-->
                            <!--</div>-->
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="showProductPreview()">Get Product Info</md-button>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex ng-show="show_product_preview">
        <h2>Preview Campaign</h2>
        <p>Below is the information we were able to grab from the url you provided.</p>
        <div>
            <em-embed urlsearch="{{input_product_url}}" maxwidth="100%" onempty="tryAgain()"></em-embed>
            <!-- https://github.com/Urigo/angular-embedly -->
        </div>
        <md-button class="md-raised md-primary" ng-click="hideProductPreview()">Close Preview</md-button>
    </div>
</div>